.titleHome {
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
    justify-items: end;
    margin-bottom: 10px;

    h1 {
        width: 100%;
        padding-left: 20px;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .btnListPlaylist {
        width: 150px;
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;

        .btnClick {
            cursor: pointer;
            width: 40px;
            height: 40px;
            display: grid;
            place-items: center;
            border-radius: 50%;
            background-color: #242424aa;
            transition: .2s;

            &:hover {
                background-color: #0a0a0aaa;
            }
        }
    }

}


.frameListPlaylist {
    width: 100%;
    display: flex;
    gap: 1.2%;
    padding-left: 20px;
    transition: .2s;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    overflow-y: hidden !important;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;


    // ::-webkit-scrollbar {
    //     display: none !important;

    //     width: 8px;
    //     border-radius: 40px;
    //     overflow: hidden;
    // }
    &::-webkit-scrollbar {
        display: none !important;
        ;
        width: 0 !important;
    }

    .itemListPlaylist {
        cursor: pointer;
        min-width: 200px;
        width: 180px !important;
        height: 270px !important;
        background-color: #D9D9D9;
        border-radius: 20px;
        position: relative;
        transition: .2s;
        scroll-snap-align: start;

        img {
            width: 100%;
            height: 70%;
            object-fit: cover;
            border-radius: 20px;
            transition: .2s;
        }

        .contentItemPlaylist {
            width: 100%;
            margin-top: 10px;
            padding-left: 20px;
            line-height: normal;

            h1 {
                max-width: 60%;
                font-size: 25px;
                font-weight: 600;
                color: #242424;
            }

            h3 {
                font-weight: 600;
                color: #323232da;
            }
        }

        .frameBtnListPlaylist {
            position: absolute;
            top: 60%;
            right: 10%;

            .frameIcon {
                cursor: pointer;
                margin-left: 10px;
                background-color: #fff;
                color: transparent;
                display: grid;
                place-items: center;
                height: 50px;
                width: 50px;
                border-radius: 50%;

                svg {
                    transform: translateX(16%);
                }
            }
        }

        &:hover {
            background-color: #3b3b3b;

            img {
                border-bottom-left-radius: 60px;
            }

            .contentItemPlaylist {
                h1 {
                    font-size: 25px;
                    font-weight: 600;
                    color: #c9c9c9;
                }

                h3 {
                    color: #909090da;
                }
            }



        }
    }

    .itemActive {
        background-color: #3b3b3b;

        img {
            border-bottom-left-radius: 90px;
        }

        .contentItemPlaylist {
            h1 {
                font-size: 25px;
                font-weight: 600;
                color: #c9c9c9;
            }

            h3 {
                color: #909090da;
            }
        }

        .frameIcon {
            position: relative;
            z-index: 10;

            svg {
                transform: translateX(20%);
            }

            &::before {
                position: absolute;
                top: -10%;
                left: -10%;
                content: ' ';
                height: 120%;
                width: 120%;
                background-color: rgba(0, 255, 255, 0);
                border-radius: 50%;
                border: #fff 2px dashed;
                transition: .2s;
                animation: deg306 8s ease-in-out infinite;
            }
        }
    }
}

@keyframes deg306 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}