.frameIconCus {
    width: 100%;

    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    place-items: center;
    transition: .5s;

    .frameline {
        transition: .2s;
        background-color: rgb(213, 213, 213);
        height: 20px;
        width: 80%;
        border-radius: 3px;
    }

    .line1 {
        max-width: 6.8px;

        animation: 1s keyframesLine .2s infinite;
    }

    .line2 {
        max-width: 6.8px;

        animation: 1s keyframesLine .5s infinite;
    }

    .line3 {
        max-width: 6.8px;

        animation: 1s keyframesLine .7s infinite;
    }

    @keyframes keyframesLine {
        0% {
            height: 10px;
        }

        50% {
            height: 20px;
        }

        100% {
            height: 10px;
        }
    }
}