.framePopup {
    width: 100%;
    padding: 5px 10px 0;
    position: relative;
    transition: .2s;
    padding-bottom: 20px;

    .BackgroundPlayer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .frameImage {
            width: 100%;
            height: 100%;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.647);
                width: 100%;
                height: 100%;
                backdrop-filter: blur(20px);
                border-radius: 20px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: -1;
            }
        }

    }

    .headerPopup {
        position: relative;
        height: 40px;
        z-index: 10;

        .iconHeader {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            display: grid;
            place-items: center;
            background-color: rgba(240, 248, 255, 0);
            transition: .2s;
            z-index: 10;

            &:hover {
                background-color: rgba(0, 0, 0, 0.359);
            }


        }
    }

    .musicPlayer {
        margin-top: 2%;
        width: 100%;
        position: relative;
        overflow: hidden;



        img {
            width: 100%;
            height: 250px;
            border-radius: 20px;
            object-fit: cover;
        }

        .frameBtnShare {
            margin-top: 5px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: end;

            .activeIconRepost {
                background-color: #3df88eb2 !important;
                color: #ddffec !important;

                svg {
                    path {
                        stroke: #ddffec !important;
                    }
                }
            }

            .iconRepost {
                transition: .2s;

                svg {
                    transition: .2s;

                    path {
                        transition: .2s;
                    }
                }

                &:hover {
                    background-color: #18c96433 !important;
                    color: #18c964 !important;

                    svg {
                        path {
                            stroke: #18c964 !important;
                        }
                    }
                }
            }

            .btnShare {
                width: 30%;
                transition: .2s;
                padding: 4px 15px;
                font-size: 13px;
                background-color: rgba(58, 58, 58, 0.701);
                border-radius: 20px;
                display: flex;
                gap: 8%;
            }


        }

        .contentSong {
            width: 100%;
            margin-top: 5px;
            display: grid;
            grid-template-columns: 60% 40%;
            justify-content: space-between;
            position: relative;

            .infoSong {
                h1 {
                    font-size: 25px;
                }

                h3 {
                    font-size: 16px;
                    color: rgba(231, 231, 231, 0.786);
                }
            }



            .frameIcon {

                width: 100%;
                display: grid;
                align-items: start;
                grid-template-columns: 33.3% 33.3% 33.3%;
                justify-items: end;



                .clickSong {
                    cursor: pointer;
                    display: grid;
                    place-items: center;
                    background-color: rgba(55, 55, 55, 0);
                    height: 35px;
                    width: 35px;
                    border-radius: 50%;
                    transition: .2s;

                    &:hover {
                        background-color: rgba(20, 20, 20, 0.559);
                    }


                }

                .addicon {
                    background-color: rgb(76, 76, 76);
                }
            }
        }

        .controlSong {
            margin-top: 50px;
            width: 100%;

            .frameLineRange {
                margin-top: 5%;
                width: 100%;
                display: grid;
                align-items: center;
                justify-items: center;
                grid-template-columns: 12% 76% 12%;

                .frameRage {
                    position: relative;
                    width: 98%;
                    display: grid;
                    place-items: center;

                    input {
                        height: 2px;
                        width: 100%;
                        z-index: 1;
                        outline: none;
                    }


                    .frameWaveIcon {
                        position: absolute;
                        bottom: 94%;
                        transition: .2s;
                        left: 0;
                        width: 100%;

                        svg {
                            transition: .2s;
                        }
                    }
                }
            }

            .frameBtnPlayer {
                display: grid;
                grid-template-columns: 5% 15% 15% 30% 15% 15% 5%;
                align-items: center;
                justify-items: center;

                .btnPlayPause {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    background-color: rgb(101, 101, 101);
                    display: grid;
                    place-items: center;

                    svg {
                        transform: translateX(2%);
                    }
                }
            }
        }

        .footerPlayer {
            margin-top: 10px;
            width: 100%;
            display: grid;
            grid-template-columns: 30% 30%;
            align-items: center;
            justify-content: space-between;
            // padding-bottom: 10px;

            .frameVolume {
                display: grid;
                grid-template-columns: 25% 75%;
                align-items: center;

                .framerangeVolume {
                    display: grid;
                    align-items: center;
                    padding: 8px 8px;
                    background-color: rgba(75, 75, 75, 0.507);
                    border-radius: 10px;

                    .rangeVolume {
                        height: 3px;
                        width: 100%;
                    }
                }

            }

            .frameIcon {
                width: 100%;
                display: grid;
                align-items: center;
                justify-items: end;
            }

        }
    }

    .frameListSongPopup {
        transition: .2s;
        position: absolute;
        top: calc(2% + 40px);
        left: 0;
        height: 800px;
        width: 100%;
        border-radius: 20px;
        background-color: white;
        overflow: hidden;
        z-index: 1;
    }

    .hidenframeListSong {
        transition: .2s;
        top: 120% !important;
        height: 0 !important;
        background-color: rgba(255, 255, 255, 0);
    }

    .frameListCommentPopup {
        transition: .2s;
        position: absolute;
        top: calc(2% + 40px);
        left: 0;
        height: 800px;
        width: 100%;
        border-radius: 20px;
        background-color: white;
        overflow: hidden;
        z-index: 1;
    }

    .hidenframeCommentSong {
        transition: .2s;
        top: 120% !important;
        height: 0 !important;
        background-color: rgba(255, 255, 255, 0);
    }
}