.frameManage {
    position: relative;
    padding-top: 80px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    color: black;
    overflow: hidden;

    .backrgroundManage {
        transition: .5s;
        position: relative;
        display: grid;
        grid-template-rows: 15% 85%;
        background-color: aliceblue;
        width: 100%;
        height: 100%;
        border-radius: 20px;

        .headerManage {
            width: 100%;
            height: 70px;
            display: flex;
            align-items: center;
            border-radius: 20px;
            padding: 20px 10px;
            justify-content: space-between;
            transition: .2s;

            .frameUpgradeSub {
                .UpgradeSub {
                    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
                    background-size: 400% 400%;
                    animation: gradient 15s ease infinite;
                    padding: 10px 15px;
                    border-radius: 20px;
                    color: #f9f9f9;
                    font-weight: 600;
                }
            }

            .frameInput {
                width: 300px;

                input {
                    height: 50px;
                    width: 100%;
                    padding: 0 5px;
                    border-radius: 15px;
                    outline: none;
                    border: none;
                    background-color: rgb(207, 207, 207);
                    color: rgb(94, 94, 94);
                }
            }

            .frameStorage {
                height: 60px;
                background: linear-gradient(-45deg, #33bff2, #2b95bc, #38e0e0, #27c0df);
                background-size: 400% 400%;
                animation: gradient 15s ease infinite;
                cursor: pointer;
                display: flex;
                width: 25%;
                justify-content: start;
                padding: 0 10px 0 10px;
                border-radius: 10px;

                .contentStorage {
                    display: grid;
                    height: 100%;
                    width: 100%;
                    align-items: center;

                    .contentDetail {
                        color: #fff;

                        .title {
                            display: flex;
                            align-items: center;
                            gap: 6%;
                            width: 100%;
                        }

                        h1 {
                            font-size: 18px;
                        }

                        h3 {
                            font-size: 16px;
                            font-weight: 600;

                        }
                    }

                }

                .frameIcon {
                    height: 24px;
                    display: grid;
                    place-items: center;

                    svg {
                        width: 60px;
                        height: 60px;
                        display: grid;
                        fill: none;
                        stroke: #f9f9f9;
                        stroke-width: 6;
                        stroke-linecap: round;
                        stroke-dasharray: 500;
                        stroke-dashoffset: -18;
                        transition: .5s;

                        circle {
                            transform: translate(0, 17%);

                        }
                    }
                }

            }

            .btnCreate {
                // height: 50px;
                background-color: #3dccfb;
                border-radius: 15px;
                color: rgb(251, 251, 251);
                font-size: 16px;
                font-weight: 600;
                display: grid;
                padding: 10px 20px;
                place-items: center;
                cursor: pointer;
                transition: .2s;
                // padding: 5px 10px;

                &:hover {
                    background-color: #38bae6;
                }
            }

        }

        .bodyManage {
            transition: .5s;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            padding: 10px;
            overflow: hidden;

            .headerTable {
                padding: 0 20px;
                height: 40px;
                width: 100%;
                color: black;
                display: grid;
                grid-template-columns: 5% 30% 10% 10% 15% 10% 20%;
                font-size: 20px;
                font-weight: 600;
            }

            .bodyTable {
                width: 100%;
                height: 100%;

                .listItem {
                    width: 100%;
                    height: 100%;
                    padding: 0 10px 50px;
                    overflow: auto;
                }
            }
        }


    }

    .changeBackground {
        background-color: rgba(156, 156, 156, 0.542);

        .btnCreate {
            background-color: #0158b6 !important;
        }
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}