@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon:YROT@5&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

* {
  padding: 0;
  box-sizing: border-box;
}

.frameLoading {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}



#completed,
.completed {
  background-color: #23d5ab !important;
}

#Color_completed,
.Color_completed {
  color: #23d5ab !important;
}

#changing {
  background-color: #23a6d5 !important;
}

.warning,
#warning {
  background-color: #ee7752 !important;
}

.Color_warning,
#Color_warning {
  background-color: #ee7752;
}


#failed,
.failed {
  background-color: #dc4e50 !important;
}

#Color_failed,
.Color_failed {
  color: #dc4e50 !important;
}


.scale-0 {
  /* transition: 0.2s; */
  transform: scale(0);
  backdrop-filter: blur(0);
}

#disabled,
.disabled {
  background-color: #7a7a7a !important;
  color: #d7d7d7 !important;
}

.none {
  display: none;
}

.overflow__Text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  // -moz-transform: translateX(100%);
  // -webkit-transform: translateX(100%);
  // transform: translateX(100%);

  // -moz-animation: my-animation 15s linear infinite;
  // -webkit-animation: my-animation 15s linear infinite;
  // animation: my-animation 15s linear infinite;
}

// @keyframes my-animation {
//   from {
//     -moz-transform: translateX(100%);
//     -webkit-transform: translateX(100%);
//     transform: translateX(100%);
//   }

//   to {
//     -moz-transform: translateX(-100%);
//     -webkit-transform: translateX(-100%);
//     transform: translateX(-100%);
//   }
// }
.loading {
  min-height: 300px;
  width: 100%;
  display: grid;
  place-items: center;
}

.overflow__Text_Endline {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.dottrue {
  background-color: #18c964 !important;
}

.dotfalse {
  background-color: #f54281 !important;
}

.falseI,
.paused {
  background-color: #f3126033 !important;
  color: #f54281 !important;

  &:hover {
    color: #f9d8e3ad !important;
    background-color: #f54281 !important;
  }
}

.trueI,
.active {
  background-color: #18c96433 !important;
  color: #18c964 !important;

  &:hover {
    color: #85f8b7da !important;
    background-color: #18c964 !important;
  }
}

.vacation {
  color: #f5a524 !important;
  background-color: #f5a52433 !important;

  &:hover {
    color: #f1f1f1 !important;
    background-color: #f5a524 !important;
  }
}


.none {
  display: none;
}

.cursor_pointer {
  cursor: pointer;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}