.colorActive {
  color: #37cdff;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #000000;
  color: #ffff;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  overflow: hidden;

  .frameFooter {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25% 50% 10% 15%;

    .contentStart {
      padding-left: 20px;
      display: grid;
      align-items: center;

      grid-template-columns: 25% 75%;

      img {
        height: 70px;
        width: 70px;
        object-fit: cover;
        border-radius: 20px;
      }

      .contentFooter {
        h1 {
          font-size: 25px;
          font-weight: 600;
        }

        h3 {
          color: #afafaf;
        }
      }


    }

    .frameCenter {
      width: 100%;
      display: grid;
      place-items: center;

      .contentCenter {
        width: 100%;
        display: grid;
        place-items: center;

        .topCenter {
          width: 100%;
          display: grid;
          place-items: center;

          .btnFooter {
            width: 50%;
            display: grid;
            place-items: center;
            grid-template-columns: 20% 10% 10% 20% 10% 10% 20%;

            .btnPlayPause {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              background-color: rgb(56, 56, 56);
              display: grid;
              place-items: center;

              svg {
                transform: translateX(2%);
              }
            }
          }
        }

        .bottonCenter {
          width: 80%;
          display: grid;
          grid-template-columns: 10% 80% 10%;

          .timeFooterStart {
            padding: 5px 10px;
          }

          .timeFooterEnd {
            padding: 5px 10px;
          }

          #lineSong {
            width: 100%;
            height: 2px;
          }
        }

      }
    }

    .contentEnd {
      width: 100%;
      display: grid;
      align-items: center;
      grid-template-columns: 22% 78%;

      .frameVolume {
        display: grid;
        grid-template-columns: 15% 90%;
        align-items: center;

        .rangeVolume {
          display: grid;
          place-items: center;
          height: 4px;
        }
      }
    }
  }
}